
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

body {
    display:flex;
    flex-direction:column;
	background-color:white; 
	margin:0px;
} 

.mainReview {
	display: flex;
	align-items: center;
	justify-content: center;
}

#reviewHeader h1{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Homemade Apple', cursive;
	font-size: 150%;
}

#reviewPicture {
	display: flex;
	align-items: center;
	justify-content: center;
}

#reviewPicture img {
	border-radius: 50%;
	border: 1px solid #D2691E; /*Chocolate*/
  	padding: 5px;
  	width: 500px;
} /*review.html*/

#container{
    width:80%;
    align-self:center;
}


#tag-button{
    margin-top:20px;
}

.tags-list ul li{
   display:flex;
   padding:10px 0px;
}

.tag-link{
   width:160px;
}


.x{
   border-radius:50%;
   border-style:none;
}


#comments {
   display: flex;
   flex-direction:column;
   justify-content: center;
}

#comments h2{
   margin-bottom:0px;
}

#comments a {
   font-family: cursive;
}

#add-comment{
   display:flex;
   flex-direction:column;
   justify-content:center;
}

#add-comment{
   width:100%;
}

#add-comment #comment-box-div{
   display:flex;
   flex-direction:column;
}
#comment-box-div{
   display:flex;
   align-self:center;
   width:100%;
   margin-top:20px;
}

#comment-box{
 
  height:5em;
  margin:0px;
  
}

li{
  list-style-type:none;
}

ul{
  padding:0px;
 }




