<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<head>
	<title th:text = "${category.name}"></title>
</head> 
<body>
    <div class = "navbar"><h1 id = "beverages">Beverages</h1><nav id="navbar"></nav></div>
		<h1 th:text = "${category.name}"></h1>
		<div th:each ="review:${reviews}">
			<ul>
				<li>
					<a th:href="@{/review(id=${review.id})}"th:text="${review.name}"></a>
				</li>
			</ul>
		</div>
</body>
<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</html>