<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
	<title th:text = "${review.name}"></title>
</head>
<body>
	<h1 th:text = "${review.name}"></h1>

	<div th:each = "reviews: ${review}">
	    <img th:src = "${review.imageAddress}">
		<p th:text = "${review.name}"></p>
		<p th:text = "${review.description}"></p>
		<a th:text = "${review.category.name}"></a>
		<ul th:each = "tag: ${review.tags}">
			<li th:text = "${tag.name}"></li>
		</ul>

		<a href="http://localhost:8080/reviews">Home</a>
</body>
</html>
