<!DOCTYPE html>


<head>
	<html xmlns: th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	    <title th:text ="${tag.name}"></title>
</head>

<body>
<div class = "navbar"><h1 id = "beverages">Beverages</h1><nav id="navbar"></nav></div>
        <h1 th:text ="${tag.name}"></h1>
        <div class="listOfReviewsForTag" th:each ="review: ${tag.reviews}">
            <p><a th:text ="${review.name}" th:href="@{/review(id=${review.id})}"></a></p>
        </div>
</body>
<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</html>