<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<div th:each ="tag:${tags}">
    <head>
        <title th:text ="${tag.name}"></title>
    </head>
</div>
<div id="navbar">
    <a class="active" href="http://localhost:8080/reviews">Home</a>
    <a href="http://localhost:8080/categories">Categories</a>
    <a href="http://localhost:8080/tags">Tags</a>
</div>  
<body>
        <h1 th:text ="${tag.name}"></h1>
        <div class="listOfReviewsForTag" th:each ="review: ${tag.reviews}">
            <p><a th:text ="${review.name}" th:href="@{/review(id=${review.id})}"></a></p>
        </div>
</body>
<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</html>