<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<head>
	<title>All Tags</title>
</head>
<div id="navbar">
	<a class="active" href="http://localhost:8080/reviews">Home</a>
	<a href="http://localhost:8080/categories">Categories</a>
	<a href="http://localhost:8080/tags">Tags</a>
</div>
<body>
	<h1>A list of Tags</h1>
	<wrapper class="content">
		<div th:each ="tag:${tags}">
			<a th:text ="${tag.name}" th:href="@{/tag(id=${tag.id})}"></a> 
		</div>
	</wrapper>
</body>
<script type="text/javascript" th:src="@{/js/stickyNav.js}"></script>
</html>